* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(43, 48, 59, 0.5); */
    background: rgba(0,0,0,0.95);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    border-bottom: 3px solid rgba(10, 10, 10, 0.95);
    color: white;
}

#workspaces button {
    padding: 0 5px;
    /* background: transparent; */
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    /* background: #64727D; */
    background: white;
    color: black;
    /* border-bottom: 3px solid white; */
}

#mode, #clock, #battery, #pulseaudio, #network, #custom-poweroff {
    padding: 0 10px;
    /* margin: 0 5px; */
    margin: 0px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #ffffff;
    color: black;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: black;
    /* background-color: #26A65B; */
    background-color: #4ee06b;
}

#pulseaudio {
    background-color: #dddddd;
    color: black;
}

#network {
    background-color: #dddddd;
    color: black;
}

#custom-poweroff {
    background-color: #ffffff;
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
